<ion-content class="hub-content" [fullscreen]="true">
  <div class="hub-container">

    <div class="hub-header">
      <h1 class="hub-title">Welcome</h1>
      <p class="hub-subtitle">Where do you want to go?</p>
    </div>

    <div class="hub-grid">
      <button
        class="hub-card"
        type="button"
        *ngFor="let item of items"
        [class.hub-card--disabled]="!item.route"
        (click)="open(item)"
      >
        <div class="hub-card-icon">
          <ion-icon [name]="item.icon"></ion-icon>
        </div>
        <span class="hub-card-label">{{ item.label }}</span>
        <span class="hub-card-desc">{{ item.description }}</span>
      </button>
    </div>

  </div>
</ion-content>
